</div>
<footer class="footer-container">
  <i class="footer-img fab fa-twitter-square"></i>
  <i class="footer-img fab fa-facebook-square"></i>
  <i class="footer-img fab fa-instagram"></i>
  <i class="footer-img far fa-envelope"></i>
  <p>Created by TechTogether NY </p>
</footer>
</body>
</html>
