<%- include('partials/header.ejs') %>
<script src="script.js"></script>
<h1>About Us</h1>
<p>A group of five girls: Amanda, Dora, Esther, Hana, and Jessica, who want to be a change by helping people with self care. </p>

<h1>Our Mission</h1>
<p>During these uncertain times, self care is more needed than ever. We created this website with the idea that people will be able to find a way to channel their emotions into a category of their choice. </p>

<p> We want to promote self care through our data driven website. </p>

<h1>Why Self Care?</h1>
<p>80% of Americans intend to keep practicing self care even after the pandemic.</p>
<p>64% of Americans are more focused than ever on practicing self care during these uncertain times.</p>
<p>44% of Americans desire guidance on how to practice and apply self care right now.</p>
<p>Statistics from a survey of American adults (Healio, 2020). </p>


<%- include('partials/footer.ejs') %>
