<%- include('partials/header.ejs') %>
<h2>The Curious Incident of the Dog in the Night-Time by Mark Haddon</h2>
<h2>Life of Pi by Yann Martel</h2>
<h2>Nudge: Improving Decisions About Health, Wealth, and Happiness by Richard H. Thaler, Cass R. Sunstein</h2>
<h2>Rhythm of War by Brandon Sanderson</h2>
<%- include('partials/footer.ejs') %>
