<%- include('partials/header.ejs') %>
<a href="https://www.averiecooks.com/easy-30-minute-homemade-chicken-noodle-soup/">30 Minute Chicken Noodle Soup</a><br>
<a href="https://www.allrecipes.com/recipe/11679/homemade-mac-and-cheese/">Mac and Cheese</a>
<%- include('partials/footer.ejs') %>
