<%- include('partials/header.ejs') %>
<h2>Love Story by Taylor Swift</h2>
<h2>All I want for Christmas by Mariah Carey</h2>
<h2>Night changes by One Direction</h2>
<h2>Who do you love by Chainsmokers and 5 Seconds of Summer</h2>
<%- include('partials/footer.ejs') %>
