<%- include('partials/header.ejs') %>
<div class="container">
  <h1>Thanks <%=userName%>! Based on your answers we put together a care package for you:</h1>
</div>
<br>
<br>
<br>
<!--card1-->
<div class="card1" style="width: 18rem;">
  <img class="card-img-top" src="https://i.pinimg.com/736x/37/0b/0b/370b0bc2a314ac7f222515ed4f1c3360.jpg" alt="Card image cap" height="220rem;">
  <div class="card-body">
    <h5 class="card-title">Books</h5>
    <p class="card-text">No matter what you're feeling, cozying up with a good book is always a great escape from reality. Click 'Go' to view your personally curated list of books!</p>
    <a href="/book" class="btn btn-outline-info">Go</a>
  </div>
</div>
<!--card2-->
<div class="card2" style="width: 18rem;">
  <img class="card-img-top" src="https://data.whicdn.com/images/317262783/original.png" alt="Card image cap" height="220rem;">
  <div class="card-body">
    <h5 class="card-title">Movies</h5>
    <p class="card-text">A great movie can help pass the time and even allow you to take your mind off of life's problems. Push 'Go' to check out a selected list of movies just for you!</p>
    <a href="/movie" class="btn btn-outline-info">Go</a>
  </div>
</div>
<!--card3-->
<div class="card2" style="width: 18rem;">
  <img class="card-img-top" src="https://data.whicdn.com/images/340410201/original.jpg" alt="Card image cap" height="220rem;">
  <div class="card-body">
    <h5 class="card-title">Music</h5>
    <p class="card-text">Every main character has a soundtrack to get them through both happy and sad times. Press 'Go' to hear your supporting soundtrack!</p>
    <a href="/music" class="btn btn-outline-info">Go</a>
  </div>
</div>
<!--card4-->
<div class="card2" style="width: 18rem;">
  <img class="card-img-top" src="https://i.pinimg.com/originals/d2/9e/80/d29e80e6e7091d3ca79fd5269c4fb61d.jpg" alt="Card image cap" height="220rem;">
  <div class="card-body">
    <h5 class="card-title">Food</h5>
    <p class="card-text">Sometimes satisfying a craving to can change our moods for the better. Hit 'Go' to discover a carefully selected list of recipes and restuarants to try!</p>
    <a href="/food" class="btn btn-outline-info">Go</a>
  </div>
</div>
</body>
</html>
